.header {
  font-family: "Roboto", sans-serif;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  max-width: 72px;
}

.header-login > img {
  max-width: 20px;
  align-self: center;
  padding-left: 40px;
  padding-right: 48px;
}

.banner {
  text-align: center;
  background-color: #e0d0ff;
  max-height: 48px;
  padding-top: 17px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}
